body {
    font-family: sans-serif;
    line-height: 1.5;
    font-family: Roboto;
    font-size: 14px;
    color: #000000;
}

/*ul {
    list-style: none;
}*/

.header-logo {
    font-size: 26px;
}
.header-logo span {
    color: #2196F3;
}
.header-list {
    font-size: 14px;
}

.header-link:hover {
    color:#2196F3
}
.header-link:focus {
    color: #2196F3;
}

.header-contacts {
    font-size: 14px;
    color: #757575;
}

.header-contacts:hover {
    color: #2196F3;
}

.header-contacts:focus {
    color: #2196F3;
}

.header-logo {
    color: #000000;
}

/*основний колір #000000*/
/*колір для WEB #2196F3*/
/*колір для героя білий #FFFFFF*/
/*колір для nav #212121*/
/*колір акцент #2196F3*/
/*колір тексту #757575*/
/*фон для сайту #E5E5E5*/
/*фон для блоку-героя та для футера #2F303A*/