:root {
    --primary-text-color: #212121;
    --title-text-color: #000000;
    --accent-text-color: #2196F3;
    --page-text-color: #757575;
    --background-color: #FFFFFF;
    --background-color-portfolio: #F5F4FA;
    --background-color-main: #2F303A;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: #FFFFFF;
    color: var(--page-text-color);
}
ul {
    list-style: none;
}
/*Header*/
.header-logo {
 color: #000000;
}
.header-logo span {
    color: var(--accent-text-color);
}
.header-list .header-link {
   color: var(--primary-text-color);
}
.header-list .header-link:hover,
.header-list .header-link:focus {
    color: var(--accent-text-color);
}

/*підсвічування активної сторінки*/
.header-list .header-link.current {
    color: var(--accent-text-color);
}

.header-contacts .header-item {
    color: var(--page-text-color);
}
.header-contacts .header-item:hover,
.header-contacts .header-item:focus {
    color: var(--accent-text-color);
}
/*main*/
.main-title {
    font-size: 44px;
    text-align: center;
    color: #FFFFFF;
    background-color: var(--background-color-main);
    width: 1600px;
    height: 600px;
}

.section-title {
    color: var(--primary-text-color);
}
.feature-subtitle .text{
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.section-subtitle {
    color: var(--primary-text-color);
}
.feature-text {
    color: var(--page-text-color);
}
.section-text {
    color: var(--page-text-color);
}

.button {
    color: var(--background-color);
    background-color: var(--accent-text-color);
}
.button.primary {
    color: var(--background-color);
    background-color: var(--accent-text-color);
}

/*Portfolio CSS*/
.button.main {
    color: var(--primary-text-color);
    background-color: var(--background-color-portfolio);
}
/*основний колір #000000*/
/*колір для WEB #2196F3*/
/*колір для героя білий #FFFFFF*/
/*колір для nav #212121*/
/*колір акцент #2196F3*/
/*колір тексту #757575*/
/*фон для сайту #E5E5E5*/
/*фон для блоку-героя та для футера #2F303A*/
/*фон для кнопок в портфоліо #F5F4FA*/